body{
  background-image: url(../img/scissors.png);
  background-size: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
  text-align: center;
}

.container{
  border-radius: 3px;
  width: 50%;
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0.65);
  padding-bottom: 2px;
}

input[type=text]{
  text-transform: capitalize;
}