@{
  Layout = "_Layout";
}

<h2>Welcome to the Hair Salon Stylist Tracker</h2>
@if (Model.Count > 0)
{
  <p>@Html.ActionLink("View/Add Clients", "Index", "Clients")</p>
}
<p>@Html.ActionLink("View/Add Stylists", "Index", "Stylists")</p>