@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon Stylist Tracker</h1>
<p>@Html.ActionLink("View Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>